.noxHeader {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.noxLogo {
 width: 100px;
 height: 100px;
}

.noxText {
margin-top: 3%;
margin-right: 7%;
font-family: fantasy;
font-size: xx-large;
font-weight: bold;
color: #4CAF50;
}

.container {
  background: url('../styles/Images/NoxBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: -webkit-fill-available;
  overflow: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.alertMessage {
  position: absolute;
  left: 41%;
  top:62%;
  font-size: large;
  font-style: italic;
  color: mintcream;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
